
        body {
            background-color: #f8f9fa;
            font-family: 'Arial', sans-serif;
        }
        #sidebar {
            width: 250px;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            padding: 20px;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
        }
        .sidebar-header {
            margin-bottom: 20px;
        }
        .sidebar-header #logo{
            margin-left: 30px;
            width: 150px;
            height: 150px;
            border-radius: 100%;
        }
        #sidebar .components {
            padding: 0;
        }
        #sidebar .components li {
            margin-left: 50px;
            margin-bottom: 30px;
        }
        #sidebar .components a {
            color: #343a40;
            text-decoration: none;
            font-weight: bold;
        }
        #sidebar .components a:hover {
            color: #007bff;
        }
        #content {
            margin-left: 260px;
            padding: 20px;
        }
        .btn {
            border-radius: 0.5rem;
        }
